@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Manrope", sans-serif;
  }
}

@layer components {
  .product-card:hover .primary-image {
    opacity: 0;
  }
  .product-card:hover .hover-image {
    opacity: 1;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
